body{
    min-width:500px ;
}
.line{
    height: 1px;
    width: 46%;
    background-color: rgb(227, 227, 227);
}
#container{
    display: flex;
    flex-direction: column;
}
.hr-line{
    background-color: rgb(232, 234, 237);
}
.hr-wrap{
    margin: 20px 0;
}
.align-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member{
    width: 290px;
}
.carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  

  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    /* height: 32rem; */
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .featurette .lead{
      font-size: 18px;
      font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑";
  }

  .featurette-divider {
    margin: 1rem 0; 
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;

    letter-spacing: -.05rem;
  }
  
#header {
    background-color: #333;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: #DDD;
}
/* 导航栏按钮 */
.btn {
    display: none;
    float:right;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
/* 文字Logo */
#header a.logo {
    float:left;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}

#header div.nav {
    height: 44px;
}
#header div.nav img{
    width: 20px;
    height: 20px;
    margin-top: 11px;
    margin-right: 4px;
}
#header ul.nav-bar {
    list-style: none;
    float: right;
    line-height: 44px;
    display: flex;
    align-items: center;
}
#header ul.nav-bar li {
    float:left;
    padding: 0 10px;
}


@media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
.banner {
    width: 100%;
    overflow: hidden;
    background-color: #eee;
}

.banner .swiper-slide{
    width: 100%;
}
.banner .swiper-slide img {
    width:100%;
    height: auto;
}
.swiper-container{
    position:relative;
}
.swiper-pagination{
    position:absolute;
    bottom: 20px;
}

.content-wrap{
    /* width: 1080px; */
    margin: 0 65px;
}
.section-wrap ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section-wrap ul li{
    width: 256px;
    padding: 0 20px;
}
.section-wrap ul img{
    width: 216px;
    height: 216px;
    border-radius: 50%;
    overflow: hidden;
}
.section-wrap ul a{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row{
    display: flex;
   flex-direction: row;
}
.news-wrap ul li{
    /* border: 1px solid rgb(227, 227, 227); */
    /* margin: 0 12px; */
}
.news-wrap a{
    color: #000;
    font-size: 18px;
} 
.news-wrap ul li div{
    margin: 10px;
    border: 1px solid rgb(227, 227, 227);
    justify-content: center;
    text-align: center;
}
.news-wrap ul li div:first-child{
    margin-left: 0;
}
.news-wrap ul li div:last-child{
    margin-right: 0;
}
.news-wrap ul li p{
    margin: 20px 10px 20px 10px;
    text-align: left;
}
.news-wrap ul li img{
    width: 100%;
    height: 110px;
}
.footer-wrap{
    display: flex;
    flex: 1;
    align-items: flex-end;
}
.footer{
    width: 100%;
    /* position: fixed;
    bottom: 0; */
    background-color: rgb(248, 249, 250);
    text-align: center;
}
.footer span{
    color:#999999;
}
.footer ul{
    padding: 20px 0px;
    width: 100%;
}
.footer ul{
    display: inline-block;
}
.footer .copyright{
    border-top: 1px;
    
    padding: 20px 0 40px 0;
}
.footer .copyright img{
    width: 54px;
    height: 54px;
    margin-right: 10px;
}
.footer ul li {
    margin: 0 12px;
}
.footer ul li img{
    width: 16px;
    height: 16px;
}
.footer ul li span{
    margin-left: 10px;
    color:#9EA3A8 ;
}

.page{         
    text-align: center; 
    margin-top: 50px;        
}
.page a,.page span{
    text-decoration: none;
    border:1px solid rgb(236, 238, 240);
    padding: 5px 7px;
    color: rgb(63, 126, 245);
    cursor: pointer;        
}
