.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
}
.active-nav-label{
    color: #1890ff;
    text-decoration: none;
    
}
.nav-label{
    color: rgba(0,0,0,.65);
    text-decoration: none;
}
.nav-label-public{
    padding: 8px 16px;
    font-size: 18px;
}
