.news-list-item{
    border-width: 1px;
    border-color: rgb(236, 236, 236);
}
.list-content{ 
    margin: 20px auto;
    width: 1024px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-list-item {
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(246, 246, 246); */
    border-left: none;
   margin-bottom: 20px;
   padding-left: 0px;
}
.news-list-item:nth-child(2n+2){
    padding-left: 20px;
}
.news-list-item img{
    width: 170px;
    height: 110px;
    margin-right: 16px;
}
.news-list-item a{
    color: #000;
    font-size: 18px;
}
.news-list-item p{
    color: #999999;
}
.list-content-right {
    flex: 1;
    margin-right: 10px;
    padding: 16px 0px 20px 0;
}
.list-content-right p{
    margin-top: 20px;}
.news-footer{
    /* display: flex; */
    /* flex: 1; */
    flex-direction: column;
    justify-content: flex-end;
}
.page-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-content{
    margin-bottom: 30px;
}
.news-footer ul{
    background-color: rgb(248, 249, 250);
}
.news-footer .copyright{
    background-color: rgb(248, 249, 250);
}
#list-container{
    margin-top: 50px;
}
#news-content{
    margin-top: 50px;
    padding: 0 30px;

}
#news-content p img{
  width: 100%;
  margin:30px auto;
}
#news-content p{
    line-height: 20px;
}
#news-content .otitle{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.news-list-item-container{
    transition:all 1s ease-out;
}
.news-list-item-container:hover{
    transform:scale(1.1);
}
@media (min-width: 769px) and (max-width:991px) { 
    .news-list-content{
        margin: 0 20px;
    }
 }
@media screen and (max-width: 768px){
    .news-list-item {
        display: flex;
        flex-direction: column;
        /* border: 1px solid rgb(246, 246, 246); */
       margin-bottom: 20px;
       /* padding-left: 0px; */
       padding-top: 20px;
       align-items: center;
       padding-right: 0;

       /* align-items: center; */
    }
    .news-list-item:nth-child(2n+2){
        padding-left: 0px;
    }
    .news-list-content{
        margin: 0px 30px;
        padding-top: 60px;
        /* overflow: hidden; */
    }
    .list-content-right{
        margin-right: 0;
    }
    .news-list-content img{
        width: 90%;
        height: 300px;
        margin-right: 0;
    }
}

