  .drawer-button{
    position: absolute;
    background-color: #000000;
    border-color:transparent ;
    border-radius: 0;
    width: 60px;
    left: -60px;
    height: 60px;
    top: 0;
    font-size: larger;
  }
   .drawer .ant-drawer-content{
    overflow: visible !important;
   }
  .drawer-button-small{
   position: absolute;
   background-color: #1B1A20;
   border-color:transparent ;
   border-radius: 0;
   width: 50px;
   left: -49px;
   height: 50px;
   top: 0;
   font-size: larger;
   z-index: 1000;
  }
 .aside::-webkit-scrollbar {
    display: none;
  }
  .drawer  .header-cart{
    color: #ececec;
    box-sizing: border-box;
    text-align: center;
    padding:29px 0;
   }

   .drawer-aside-button{
    position: fixed;
    top: 0;
    right:0 ;
    background-color: #000000;
     border-color:transparent ;
     border-radius: 0;
     width: 60px;
     height: 60px;
    
   }
.drawer-aside-button:hover{
    background-color: #000;
    border-color: transparent;
  }

  .drawer-aside{
    min-height: 100%;
  }

   .drawer-aside::-webkit-scrollbar {
    display: none;
  }
   .drawer{
    
    /* position: relative; */
  }
   .drawer .close{
    position: absolute;
    background-color: #1B1A20;
    /* background-color: red; */
    border-color:transparent ;
    border-radius: 0;
    width: 50px;
    left: -49px;
    height: 50px;
    top: 0;
    font-size: larger;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }